* {
    padding: 0;
    margin: 0;
}

.main-container {
    background-color: gainsboro;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.left-content {
    background-color: rgb(40, 27, 100);
    width: 20%;
    color: whitesmoke;
    font-size: 25px;
}

.flex-content {
    display: flex;
}

.space-content {
    justify-content: space-between;
}

.colum-content {
    flex-direction: column;
}

.width {
    width: 100%;
}

.height-content {
    height: 100vh;
}

.box-content {
    width: 30%;
    height: 180px;
    background-color: white;
}

.margin-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.padding-content {
    padding-left: 15px;
}

.main-container input {
    width: 89%;
    height: 60px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.904);
    padding-left: 6px;
}

.center-content {
    justify-content: center;

}

.but-content {
    width: 10%;
    height: 50px;
    border: none;
    background-color: crimson;
    color: rgba(255, 255, 255, 0.822);
    border-radius: 5px;
}

.add-but {
    width: 120px;
    height: 40px;
    background-color: rgb(103, 103, 238);
    border: 1px solid rgb(104, 104, 243);
    margin-right: 4px;
    border-radius: 8px;
    color: rgba(245, 245, 245, 0.918);
}

.col-pink {
    color: rgb(214, 30, 67);
}

.top-content {
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 30px;
}

.position-content {
    margin: 15px;
    font-size: 30px;
    font-weight: bold;
}

.col-blue {
    color: skyblue;
}

.col-green {
    color: greenyellow;
}

.col-five {
    color: lightcoral;
}

.col-grey {
    color: gray;
}